<h3 class="text-center our-green">1 vs 1</h3>
<div class="table-responsive">
    <table class="table table-hover custom-border-color table-bordered table-fixed">
    <thead>
        <tr>
            <th style="background-color: black; font-family: Bebas Neue; font-size: 125%; color: #28df28;">Winner Team</th>
            <th style="background-color: black; font-family: Bebas Neue; font-size: 125%; color: #28df28;" >Winner Score</th>
            <th style="background-color: black; font-family: Bebas Neue; font-size: 125%; color: #28df28;">Loser Score</th>
            <th style="background-color: black; font-family: Bebas Neue; font-size: 125%; color: #28df28;">Loser Team</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="background-color: black; font-family: Bebas Neue; font-size: 125%; color: #28df28;">psegura-</td>
            <td style="background-color: black; font-family: Bebas Neue; font-size: 125%; color: #28df28;">3</td>
            <td style="background-color: black; font-family: Bebas Neue; font-size: 125%; color: #28df28;">1</td>
            <td style="background-color: black; font-family: Bebas Neue; font-size: 125%; color: #28df28;">sacorder</td>
        </tr>
    </tbody>
    </table>
</div>

<!-- Table 2 vs 2 -->
<h3 class="text-center our-green">2 vs 2</h3>
<div class="table-responsive">
    <table class="table table-hover custom-border-color table-bordered table-fixed">
    <thead>
        <tr>
            <th style="background-color: black; font-family: Bebas Neue; font-size: 125%;  color: #28df28;">Winner Team</th>
            <th style="background-color: black; font-family: Bebas Neue; font-size: 125%;  color: #28df28;">Winner Score</th>
            <th style="background-color: black; font-family: Bebas Neue; font-size: 125%;  color: #28df28;">Loser Score</th>
            <th style="background-color: black; font-family: Bebas Neue; font-size: 125%;  color: #28df28;">Loser Team</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="background-color: black; font-family: Bebas Neue; font-size: 125%; color: #28df28;">psegura- / agserran</td>
            <td style="background-color: black; font-family: Bebas Neue; font-size: 125%; color: #28df28;">3</td>
            <td style="background-color: black; font-family: Bebas Neue; font-size: 125%; color: #28df28;">2</td>
            <td style="background-color: black; font-family: Bebas Neue; font-size: 125%; color: #28df28;">sacorder / bazuara</td>
        </tr>
    </tbody>
    </table>
</div>
