<h3 class="text-center our-green">1 vs 1</h3>
<div class="table-responsive">
    <table class="table table-hover custom-border-color table-bordered table-fixed">
    <thead>
        <tr>
            <th class="th-custom">Winner Team</th>
            <th class="th-custom" >Winner Score</th>
            <th class="th-custom">Loser Score</th>
            <th class="th-custom">Loser Team</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="td-custom">psegura-</td>
            <td class="td-custom">3</td>
            <td class="td-custom">1</td>
            <td class="td-custom">sacorder</td>
        </tr>
    </tbody>
    </table>
</div>

<!-- Table 2 vs 2 -->
<h3 class="text-center our-green">2 vs 2</h3>
<div class="table-responsive">
    <table class="table table-hover custom-border-color table-bordered table-fixed">
    <thead>
        <tr>
            <th class="th-custom">Winner Team</th>
            <th class="th-custom">Winner Score</th>
            <th class="th-custom">Loser Score</th>
            <th class="th-custom">Loser Team</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="td-custom">psegura- / agserran</td>
            <td class="td-custom">3</td>
            <td class="td-custom">2</td>
            <td class="td-custom">sacorder / bazuara</td>
        </tr>
    </tbody>
    </table>
</div>
