<h3 class="text-center our-green">1 vs 1</h3>
<div class="table-responsive">
    <table class="table table-hover custom-border-color table-bordered table-fixed">
    <thead>
        <tr>
            <th>Team 1</th>
            <th>Score Team 1</th>
            <th>Score Team 2</th>
            <th>Team 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% if games1v1 %}
                {% for game in games1v1 %}
                <tr>
                    <td>{{ game.user1 }}</td>
                    <td>{{ game.score1 }}</td>
                    <td>{{ game.score2 }}</td>
                    <td>{{ game.user3 }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4" class="text-center">No games saved</td>
                </tr>
            {% endif %}
        </tr>
    </tbody>
    </table>
</div>

<!-- Table 2 vs 2 -->
<h3 class="text-center our-green">2 vs 2</h3>
<div class="table-responsive">
    <table class="table table-hover custom-border-color table-bordered table-fixed">
    <thead>
        <tr>
            <th>Team 1</th>
            <th>Score Team 1</th>
            <th>Score Team 2</th>
            <th>Team 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% if games2v2 %}
                {% for game in games2v2 %}
                </tr>
                    <td>{{ game.user1 }} {{ game.user2 }}</td>
                    <td>{{ game.score1 }}</td>
                    <td>{{ game.score2 }}</td>
                    <td>{{ game.user3 }} {{ game.user4 }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4" class="text-center">No games saved</td>
                </tr>
            {% endif %}
        </tr>
    </tbody>
    </table>
</div>
