<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center our-green"><u>MADE BY</u></h1>
            <h3 class="text-center our-green">AGSERRAN, BAZUARA, MDE-ARPE, PSEGURA-, SACORDER</h3>
            <br>

            <h1 class="text-center our-green"><u>TECHNOLOGIES</u></h1>
            <h3 class="text-center our-green">BACKEND: DJANGO</h3>
            <h3 class="text-center our-green">FRONTEND: BOOTSTRAP</h3>
            <h3 class="text-center our-green">BLOCKCHAIN: SOLIDITY</h3>
            <h3 class="text-center our-green">INFRASTRUCTURE: DOCKER</h3>
            <br>

            <h1 class="text-center our-green"><u>PRIVACY RIGHTS</u></h1>
            <p class="text-center our-green" style="margin-bottom: 1px;">
                You have the option to anonymize your profile at any time by visiting the social section of your account. <br>
            </p>
            <p class="text-center our-green">
                Additionally, any user who remains inactive for more than 1 year will automatically have their profile anonymized.
            </p>
        </div>
    </div>
</div>
