<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center our-green"><u>General Rules</u></h2>
            <h3 class="our-green">Use the <strong>W</strong> and <strong>S</strong> to move the paddle.</h3>
            <h3 class="our-green">All games are played <strong>best of 7</strong>, except if a <strong>timeout</strong> has occurred.</h3>
            <h3 class="our-green">In case of a <strong>timeout</strong>, if there was a <strong>tie</strong>, the player on the <strong>left</strong> wins the game.</h3>
            <br>
            
            <h2 class="text-center our-green"><u>Local Multiplayer</u></h2>
            <h3 class="our-green"><strong>Left</strong> player uses <strong>W</strong> and <strong>S</strong>.</h3>
            <h3 class="our-green"><strong>Right</strong> player uses <strong>Arrow Up</strong> and <strong>Arrow Down</strong>.</h3>
            <br>

            <h2 class="text-center our-green"><u>2 vs 2 Game Mode</u></h2>
            <h3 class="our-green">In the 2 vs 2 mode, both players on the same team must press the same key to move their paddle.</h3>
        </div>
    </div>
</div>
