<style>
    .tournament-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .tournament {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }

    .tournament .round {
        font-size: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 200px;
        list-style: none;
        padding: 0;
    }

    .tournament .round .spacer {
        flex-grow: 2;
    }

    .tournament .round .spacer:first-child,
    .tournament .round .spacer:last-child {
        flex-grow: 1;
    }

    .first-four {
        border: 1px solid #888;
        border-radius: 1em;
        background-color: #000000;
        padding: 0 1em;
    }

    .first-four-winner li.game-left,
    .round-1 li.game-left,
    .round-2 li.game-left,
    .round-3 li.game-left,
    .round-4 li.game-left,
    .semi-final li.game-left {
        padding-left: 0.5em;
    }

    .first-four-winner li.game-right,
    .round-1 li.game-right,
    .round-2 li.game-right,
    .round-3 li.game-right,
    .round-4 li.game-right,
    .semi-final li.game-right {
        padding-right: 0.5em;
    }

    ul.seed li.game-left span:first-child,
    ul.seed li.game-right span:last-child {
        font-size: 0.5em;
        color: #28df28;
        font-family: 'Handjet';
    }

    li.game-right {
        text-align: right;
        border-left: 1px solid #28df28;
        color: #28df28;
        font-family: 'Handjet';
    }

    li.game-left {
        border-right: 1px solid #28df28;
        color: #28df28;
        font-family: 'Handjet';
    }

    li.game-bottom {
        border-bottom: 1px solid #28df28;
    }

    li.game-top {
        border: none;
        border-bottom: 1px solid #28df28;
    }

    li.game-left.spacer {
        border-right: 1px solid #28df28;
        min-height: 5px;
        padding-right:.25em;
    }

    li.game-right.spacer {
        border-left: 1px solid #28df28;
        min-height: 5px;
        padding-left:.25em;
        text-align: left;
    }

    .final {
        text-align: center;
        padding-top: 1em;
        padding-bottom: 1em;
        border: 1px solid #28df28;
        margin-top: 1em;
        margin-bottom: 1em;
        font-weight:bold;
        color: #28df28;
        font-family: 'Handjet';
    }

    .finals .centered {
        text-align:center;
        font-weight:bold;
    }

    .finals .centered > input {
        display:block;
        width:4em;
        margin: 0 auto 0 auto;
        text-align:center;
    }

    .body-first-child {
        margin-top: -45px;
    }
</style>
<div class="container-fluid full-height d-flex justify-content-center align-items-center flex-column">
    <h2 class="h2-custom">Tournament #{{ tournament.tournament_id }}</h2>
    <div class="tournament-container mt-5">
        <section>
            <div id="outPopUp">
                <div class='body-first-child tournament first-four'>
                <ul class='round round-1'>
                    <li class='spacer'>&nbsp;</li>
                    <li class='game-left game-top'>{{ tournament.user1.name }} (Score: {{ tournament.game_12.score1 }})</li>
                    <li class='game-left spacer'>&nbsp;</li>
                    <li class='game-left game-bottom'>{{ tournament.user2.name }} (Score: {{ tournament.game_12.score2 }})</li>
                    <li class='spacer'>&nbsp;</li>
                </ul>
                <ul class='round semi-final'>
                    <li class='spacer'>&nbsp;</li>
                    <li class='game-left game-top'>{{ winner_left }} (Score: {{ tournament.game_final.score1 }})</li>
                    <li class='spacer'>&nbsp;</li>
                </ul>
                <ul class='round finals'>
                    <li class='spacer'>&nbsp;</li>
                    <li class='game final'>Winner: {{ winner_final }}</li>
                    <li class='spacer'>&nbsp;</li>
                </ul>
                <ul class='round semi-final'>
                    <li class='spacer'>&nbsp;</li>
                    <li class='game-right game-top'>{{ winner_right }} (Score: {{ tournament.game_final.score2 }})</li>
                    <li class='spacer'>&nbsp;</li>
                </ul>
                <ul class='round round-1'>
                    <li class='spacer'>&nbsp;</li>
                    <li class='game-right game-top'>{{ tournament.user3.name }} (Score: {{ tournament.game_34.score1 }})</li>
                    <li class='game-right spacer'>&nbsp;</li>
                    <li class='game-right game-bottom'>{{ tournament.user4.name }} (Score: {{ tournament.game_34.score2 }})</li>
                    <li class='spacer'>&nbsp;</li>
                </ul>
                </div>
            </div>
        </section>
    </div>
    <div class="md-2 mt-2">
        <button id = "buttonReady" class="btn btn-outline-custom btn-lg">Ready</button>
    </div>
</div>