<div class="container mt-5">
    <h1 class="mb-4 h1-custom">Available Rooms</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Room ID</th>
                <th>Joined</th>
                <th>Game Mode</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Ejemplo de fila -->
            <tr>
                <td>12345</td>
                <td>5/10</td>
                <td>1vs1</td>
                <td>
                    <button type="button" class="btn btn-primary">Join</button>
                </td>
            </tr>
            <!-- Repetir filas según sea necesario -->
            <tr>
                <td>67890</td>
                <td>3/10</td>
                <td>2vs2</td>
                <td>
                    <button type="button" class="btn btn-primary">Join</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>