<h1 class="h1-custom text-center mb-4">Room Details</h1>
<div class="row">
	<div class="col-md-6">
		<h2 class="h2-custom">Room ID</h2>
		<p class="p-custom">{{ room.room_id }}</p>
	</div>
	<div class="col-md-6">
		<h2 class="h2-custom">Game Mode</h2>
		<p class="p-custom">{{ room.game_mode }}</p>
	</div>
	<div class="col-md-6">
		<h2 class="h2-custom">Is Public</h2>
		<p class="p-custom">{{ room.is_public }}</p>
	</div>
	<div id = "team1" class="col-md-6">
		<h2 class="h2-custom">Team 1</h2>
		<p class="p-custom">{{ team1 }}</p>
	</div>
	<div id = "team2" class="col-md-6">
		<h2 class="h2-custom">Team 2</h2>
		<p class="p-custom">{{ team2 }}</p>
	</div>
</div>
<script>
	async function waitPathname() {
		while (window.location.pathname === "/rooms/create")
			await setTimeout(()=>{}, 1)
	}
	
	async function start() {
		await waitPathname()
	
		const team1 = document.getElementById("team1")
		const team2 = document.getElementById("team2")

		const roomSocket = new WebSocket(
			'ws://'
			+ window.location.host
			+ '/ws/rooms/'
			+ window.location.pathname.split('/').pop()
			+ '/'
		);
	
		roomSocket.onmessage = function(e) {	
			console.log(e.data)
		}
	
		roomSocket.onerror = function(error) {
			console.log("WebSocket error: ", error);
		}
	
		document.addEventListener('keydown', (event) => {
			roomSocket.send(event.key)
		});
	}

	start()

</script>