<h1 class="h1-custom text-center mb-4">Room Details</h1>

<div class="container">
    <div class="row text-center mb-4">
        <div class="col-md-6">
            <h2 class="h2-custom">Room ID</h2>
            <p class="p-custom">{{ room.room_id }}</p>
        </div>
        <div class="col-md-6">
            <h2 class="h2-custom">Game Mode</h2>
            <p class="p-custom">{{ game_mode_human }}</p>
        </div>
    </div>

    {% if game_mode_human == "Tournament" %}
    <div class="row text-center mb-4">
        <div class="col-md-12">
            <h2 class="h2-custom">Tournament Players</h2>
            <p id="team1" class="p-custom"></p>
            <p id="team2" class="p-custom"></p>
        </div>
    </div>
    {% else %}
    <div class="row text-center mb-4">
        <div class="col-md-6">
            <h2 class="h2-custom">Team 1</h2>
            <p id="team1" class="p-custom"></p>
        </div>
        <div class="col-md-6">
            <h2 class="h2-custom">Team 2</h2>
            <p id="team2" class="p-custom"></p>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12 text-center">
            <button id="buttonReady" class="btn btn-outline-custom btn-lg w-50">Ready</button>
        </div>
    </div>
</div>

<div id="redirector" hx-target="#content-div" hx-push-url="true" hx-trigger="redirectEvent" hx-get=""></div>

<script>
    async function waitPathname() {
        while (window.location.pathname === "/rooms/create")
            await setTimeout(()=>{}, 1)
    }
    
    async function start() {
        await waitPathname()

        const team1 = document.getElementById("team1")
        const team2 = document.getElementById("team2")

        const readyButton = document.getElementById("buttonReady")
        const redirector = document.getElementById("redirector")

        const roomSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/rooms/'
            + window.location.pathname.split('/').pop()
            + '/'
        );

        readyButton.addEventListener('click', function() {
            if (readyButton.textContent === "Ready") {
                readyButton.textContent = "Cancel"
                roomSocket.send("ready")
            }
            else {
                readyButton.textContent = "Ready"
                roomSocket.send("cancel")
            }
        });

        roomSocket.onmessage = function(e) {
            state = JSON.parse(e.data)
            if (state.redirect === true) {
                if (state.game_mode === "T")
                    redirector.setAttribute("hx-get", "/rooms/tournament/" + state.next_id)
                else
                    redirector.setAttribute("hx-get", "/game/" + state.next_id)
                htmx.process(redirector)
                redirector.dispatchEvent(new Event('redirectEvent'));
                return
            }
            {% if game_mode_human == "Tournament" %}
                team1.innerHTML = (state.user1 ? state.user1 + "<br>" : "") + (state.user2 ? state.user2 + "<br>" : "")
                team2.innerHTML = (state.user3 ? state.user3 + "<br>" : "") + (state.user4 ? state.user4 : "")
            {% else %}
                team1.innerHTML = (state.user1 ? state.user1 + "<br>" : "") + (state.user2 ? state.user2 : "")
                team2.innerHTML = (state.user3 ? state.user3 + "<br>" : "") + (state.user4 ? state.user4 : "")
            {% endif %}
        }
    
        roomSocket.onerror = function(error) {
            console.log("WebSocket error: ", error);
        }
            
        function move_away(event) {
            roomSocket.close()
            document.body.removeEventListener('htmx:beforeRequest', move_away)
            window.removeEventListener('popstate', move_away)
        }

        document.body.addEventListener('htmx:beforeRequest', move_away)
        window.addEventListener('popstate', move_away);
    }

    start()

</script>