<div class="container mt-5">
    <h1 class="mb-4 h1-custom">Available Rooms</h1>
    <table class="table table-hover custom-border-color table-bordered table-fixed">
        <thead>
            <tr>
                <th>Room ID</th>
                <th>Joined</th>
                <th>Game Mode</th>
                <th>Users</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if rooms %}
                {% for room in rooms %}
                <tr>
                    <td>#{{ room.room_id }}</td>
                    <td>
                        {{ room.user_count }}
                        {% if room.game_mode == '1' %}
                            / 2
                        {% else %}
                            / 4
                        {% endif %}
                    </td>
                    <td>
                        {% if room.game_mode == '1' %}
                            1vs1
                        {% elif room.game_mode == '2' %}
                            2vs2
                        {% else %}
                            Tournament
                        {% endif %}
                    </td>
                    <td>
                        {% for user in room.users %}
                            {% if user %}
                                {{ user.name }}; 
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-custom btn-lg" hx-get="{% url 'rooms_detail' room_id=room.room_id %}" hx-target="#content-div" hx-push-url="true">Join</button>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr class="tr-custom">
                    <td>No public rooms available</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>

