<div class="container mt-5">
    <h1 class="mb-4 h1-custom">Available Rooms</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Room ID</th>
                <th>Joined</th>
                <th>Game Mode</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if rooms %}
                {% for room in rooms %}
                <tr>
                    <td>{{ room.room_id }}</td>
                    <td>
                        {{ room.user_count }}
                        {% if room.game_mode == '1' %}
                            / 2
                        {% else %}
                            / 4
                        {% endif %}
                    </td>
                    <td>{% if room.game_mode == '1' %}
                            1vs1
                        {% elif room.game_mode == '2' %}
                            2vs2
                        {% else %}
                            Tournament
                        {% endif %}
                    </td>
                    <td>
                        <!-- This button should do an hx-get to url 'rooms' room.room_id -->
                        <button type="button" class="btn btn-primary" hx-get="{% url 'welcome' %}" hx-target="#content-div" hx-push-url="true">Join</button>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4" class="text-center">No public rooms available</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>

