<div class="container-fluid full-height d-flex align-items-center">
    <div class="row w-100 justify-content-center">
        <h1 class="text-center mb-4 h1-custom">Create Room</h1>
        <form method="post" action="{% url 'rooms_create' %}">            
            {% csrf_token %} <!-- Añadir el token CSRF para seguridad -->

            <div class="row mb-3 justify-content-center">
                <!-- Columna para el primer desplegable (Game Mode) -->
                <div class="col-md-4">
                    <p class="p-custom">{{ form.game_mode.label_tag }}</p>
                    {{ form.game_mode }}
                </div>
                
                <!-- Columna para el segundo desplegable (Privacy) -->
                <div class="col-md-4">
                    <p class="p-custom">{{ form.is_public.label_tag }}</p>
                    {{ form.is_public }}
                </div>
            </div>
            
            <!-- Botón centrado debajo de los desplegables -->
            <div class="text-center">
                <button type="submit" class="btn btn-outline-custom btn-lg"><h2>Create</h2></button>
            </div>
        </form>
    </div>
</div>