<div class="container-fluid full-height d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column mx-auto align-items-center gap-2">
        <form hx-post="{% url 'rooms_join_private' %}" hx-target="#content-div">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="w-100 justify-content-center">
                    <p class="p-custom">{{ form.room_id.label }}</p>
                    {{ form.room_id }}
                    {% if form.room_id.errors %}
                        <div class="h2-custom text-center w-100">
                            {% for error in form.room_id.errors %}
                                <h2>{{ error }}</h2>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-outline-custom btn-lg"><h2>Join Room</h2></button>
            </div>
        </form>
    </div>
</div>
