<!-- Display User Information -->
<div class="user-profile">
    {% if user.avatar %}
        <img src="{{ user.avatar.url }}" alt="{{ user.name }}'s avatar" class="user-avatar">
    {% elif user.intra_image %}
        <img src="{{ user.intra_image }}" alt="{{ user.name }}'s default avatar" class="user-avatar">
    {% else %}
        <img src="https://static.wikia.nocookie.net/ousamaranking/images/4/4d/Bojji_2022_anime_ending.jpg" alt="Default avatar" class="user-avatar">
    {% endif %}
    
    <!-- Display user details -->
    <h2>Name: {{ user.name }}</h2>
    <p>Alias: {{ user.alias }}</p>
    <p>Winrate: {{ user.win_ratio }}</p>
    <p>Games: {{ user.wins }}W/{{ user.wins }}L/{{ user.games_played }}T</p>
</div>

<!-- Buttons to Change Alias and Avatar -->
<div class="user-actions">
    <!-- change alias -->
    <form action="" method="get">
        <button type="submit" class="btn btn-outline-custom btn-lg"  data-i18n="Analytics">Change Alias</button>
    </form>

    <!-- change avatar -->
    <form action="" method="get">
        <button type="submit" class="btn btn-outline-custom btn-lg"  data-i18n="Analytics">Change Avatar</button>
    </form>
</div>
